body{
    background-color: aliceblue;
    text-align: center;
    font-family: Arial;
    margin: 5;
}

.cajon{
    background-image:url(/images/fondo2.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    margin: auto;
    
    
}
h1{
    color: crimson;
    background-color: gold;
    padding: 5px;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;

}
.cabecera{
 
    color: white;
    text-align: center;
    font-family: Impact;
    background-color: darkblue;
    
}

h2{
    color: black;
    background-color: cyan;
    border-radius: 10px;
    margin-right: 500px;
    margin-left: 500px;
}
.home{
    float: left;
    background-color: rgb(217, 255, 0);
    border-radius: 40px;
    padding: 3px;
}


.portada-image{
    text-align: center;
}

nav{
    margin-top: 15px;
    text-align: center;
    padding: 35px;
    background-image: url(/images/naruto-run.gif);
    background-size: 180px;
    background-position-x: 80px;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;

    
}
a{
    text-decoration: none;
    color: white;
}
.menu{
    border: solid;
    border-radius: 5px;
    border-color: yellow;
    display: inline;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 10px;
    
}
table{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    margin: 0% auto;
   
}
.fa-youtube-square{
    margin-left: 20px;
    color: red;
    font-size: 20px;
}
.fa-instagram{
    margin-left: 20px;
    color: white;
    font-size: 20px;
    
}
.fa-twitter-square{
    margin-left: 20px;
    color: rgb(23, 120, 246);
    font-size: 20px;
}
.pie{
    margin-top: 200px;
    color: yellow;
    text-align: center;
    background-color: black;
}

.lista{
    
    text-align: center;
    background-image: url(/images/fondo-lista.jpg);
    margin-left: 400px;
    margin-right: 600px;
    background-size: 120;
    background-repeat: no-repeat;
    background-position: center;
    color: purple;
    border: solid;
    font-family: 'Times New Roman';
    font-size: 20px;
    
    
}
li{
    list-style: none;
}
#lista-p-centrado{
    text-align: center;
}
.noticias{
    text-align: justify;
    color: pink;
}

blockquote{
    color: mediumspringgreen;
    text-align: justify;
    background-color: black;
    
    padding: 6px;
}
.derecha{
   float: right;
   
}
.imagen-derecha{
   
    width: 500px;
}
form{
    margin: 50px;
    color: white;
   
    padding-bottom: 200px;
}

legend{
    margin: 0% auto; 
    
}
.registro{
    display: inline-block;
}
.login{
    margin-left: 500px;
    margin-right: 500px;
}
.inicio-sesion{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/81/388/855/anime-cityscape-landscape-scenery-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position-x: center;

}

